*{
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(90deg, rgb(218, 68, 83), rgb(137, 33, 107));
}

:root{
    --color1: #eeeeee;
    --color2: #ea9215;
    --color3: #3a4750;
    --color4: #303841;
}

.title--1{
    width: 60%;
    min-width: 280px;
    margin: 20px auto 50px;
    text-align: center;
}

.global--container{
    width: 60%;
    min-width: 260px;
    margin: 0 auto 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color1);
    border-radius: 30px;
}

.screen{
    width: 90%;
    height: 80px;
    padding: 20px 10px;
    overflow: hidden;
    text-align: right;
    font-size: 1.5rem;
    background-color: var(--color3);
    color: var(--color1);
    border-radius: 10px;
}

.c--btn--container{
    width: 100%;
    padding: 0 15px 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.c--btn{
    width: 100%;
    height: 95%;
    padding: 25%;
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--color4);
    color: var(--color1);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.c--btn:last-of-type{
    background-color: var(--color2);
}

@media (min-width: 480px) {
    .title--1{
        font-size: 2.5rem;
    }

    .global--container{
        width: 400px;
    }

    .screen{
        font-size: 1.8rem;
    }

    .c--btn--container{
        width: 95%;
    }

    .c--btn{
        width: 70px;
        height: 70px;
        padding: 25px;
        font-size: 1.5rem;
    }
}